$contentFont: 'Montserrat', sans-serif;
$headingFont: 'Cinzel', serif;

body {
  margin: 0;
}

//nav styles
nav {
  position: fixed;
  background-color: white;
  width: 100vw;
  margin-top: -136px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  padding: 15px 10px;
}

.nav-left {
  display: flex;

  img {
    height: 70px;
  }

  p {
    padding-top: 10px;
    padding-left: 15px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}


.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin-left: 50px;
  p {
    font-family: $contentFont;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    margin-right: 20px;
  }

  button {
    font-family: $contentFont;
    height: 30px;
    width: 117px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: red;
  }

  i {
    color: red;
  }
}

.options {
  position: fixed;
  margin-top: -36px;

  display: flex;
  justify-content: center;
  background-color: #34465f;
  height: 36px;
  width: 100vw;

  a {
    text-decoration: none;
    color: white;

  }

  p {
    padding-top: 7px;
    margin: 0;
    height: 36px;
    width: 200px;
    text-align: center;
    font-family: $contentFont;
  }
}
//end nav styles

//hero styles
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vw;
  margin-top: 136px;
  background-image: url("../img/background.jpg");
  background-size: 100vw 45vw;
}

.floater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vw;
  background-color: rgba(52, 70, 95, .5);
  color: white;

  h3 {
    font-size: 25pt;
    font-family: $headingFont;
    font-weight: lighter;
    margin: 0;
  }

  p {
    font-size: 12pt;
  }

  button {
    font-family: $contentFont;
    height: 60px;
    width: 160px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: red;
  }
}
//end hero styles

//mission styles
.mission {
  width: 100vw;
  height: 130px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: $headingFont;
    font-weight: lighter;
  }

  p {
    font-family: $contentFont;
  }
}
//end mission styles

//tiles styles
.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;

  img {
    height: 200px;
    width: 25vw;
  }
}
//end tile styles

//more info styles
.more-info{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;


  //more-info-head
  .more-info-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 30vh;
      width: auto;
    }

    h2 {
      font-size: 25pt;
      font-weight: lighter;
      font-family: $headingFont;
    }
  }



  //more-info-info
  .more-info-info {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;


    .info-panel {
      display: flex;
      flex-direction: column;
      font-family: $contentFont;
      margin-left: 5px;
      margin-right: 5px;
    }
  }


}


//media querys
@media screen and (max-width: 1000px) and (min-width: 600px) {

  .options {
    display: none;
  }

  nav {
    height: 35px;

    .nav-left {
      img {
        height: 35px;
      }

      p {
        margin-top: 7px;
        padding-top: 0;
      }
    }
  }

  .tiles {
    img {
      height: 120px;
      width: 50vw;
    }
  }

  .more-info {
    .more-info-info {
      flex-direction: column;
    }
  }


}

@media screen and (max-width: 600px) {
  .options {
    display: none;
  }

  nav {
    height: 35px;

    .nav-left {
      img {
        height: 35px;
      }

      p {
        margin-top: 7px;
        padding-top: 0;
      }
    }
  }

  .tiles {
    img {
      height: 120px;
      width: 50vw;
    }
  }

  .more-info {
    .more-info-info {
      flex-direction: column;
    }
  }
}
